header object {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 200px;
  height: 200px;
}
nav {
  box-sizing: border-box;
  display: flex;
  flex-direction: row-reverse;
  flex-flow: row-reverse nowrap;
  justify-content: flex-start;
}
ul {
  order: 1;
  margin-right: 40px;
}

li {
  display: inline;
  width: 20vw;
  height: 20vh;
  padding: 10px;
}

body {
    background-image: url(/assets/682.jpg);
}

a {
  color: rgb(233, 189, 189);
  font-size: larger;
}
a:visited {
  color: burlywood;
}
a:hover {
  color: rgb(255, 248, 32);
}

main {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  width: 50vw;
  height: 70vh;
  background-color: rgb(147, 254, 218, 0.6);
  margin-top: 3%;
  border-radius: 2%;
  padding: 3%, 3%, 3%;
}

main p,
article p {
  display: inline-block;
  margin: 30px;
  font-size: 20px;
  text-align: justify;
}

section {
  display: flex;
  justify-items: center;
  flex-basis: 50%;
}

section p {
  display: flex;
  flex-wrap: wrap;
  justify-self: center;
}

h3 {
  display: inline;
  padding: 5%;
}

aside {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  width: 30vw;
  height: 30vh;
  font-size: 24px;
  background-color: aliceblue;
  border-radius: 5%;
}

img {
  display: block;
  height: 30%;
  width: 30%;
  border-radius: 5px;
}

blockquote p {
  padding: 15px;
  background: #eee;
  border-radius: 5px;
}

footer {
  display: flex;
  justify-content: space-around;
  background-color: #c5dfdf;
  opacity: 0.9;
}
p a {
    width: 20%;
    height: 5%;
  color: black;
  text-shadow: 1px 2px 2px #2f1705;
}

p a:visited {
  color: #5d3615;
}
